body{
    margin: 0;
    padding: 0;
    /*display: flex;
    justify-content: center;*/
}

/*布條*/
.top{
    position: fixed;
    top: 0;
    z-index: 999;
}

.topbox{
    margin: 0;
    border: 0;
    width: 1440px;
    height: 118px;
    background-color: rgb(255, 255, 255);
}

.logo{
    position: absolute;
    left: 30px;
    top: 43px;
}

.list{
    margin: 0;
    list-style-type: none;
    cursor: pointer;
    

    display: flex;
    justify-content: flex-end;
}

.nav{
    font-family: 'sans-serif';
    font-style: bold;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #000000;

    margin-left: 44px;
    margin-top: 40px;
}

.nav:hover{
    color:rgb(255, 0, 0);
}

.nav4{
    font-family: 'sans-serif';
    font-style: bold;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #000000;
    margin-top: 40px;
    margin-left: 44px;
    margin-right: 71px;
}

.nav4:hover{
    color:rgb(255, 0, 0);
}


/*采音吉他社*/
.logobg{
    position: relative;
    display: inline-block;
    top: 118px;
}

.page01text{
    color: white;
    z-index: 100;
    display: flex;
    justify-content: flex-start;
}

.title{
    position: absolute;
    top: 361px;
    left: 115px;
    width: 489px;
    margin: 0;
    padding: 0;
    font-size: 93px;
    font-weight: 1000;
    font-style: bold;
    font-family: 'sans-serif' ;
    display: flex;
    align-items: center;
    text-align: center;
}

.eng{
    position: absolute;
    top: 475px;
    left: 115px;
    width: 480px;
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 600;
    font-family: 'arial' ;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.215em;
}

.p1text{
    position: absolute;
    top: 534px;
    left: 115px;
    margin: 0;
    font-family: 'sans-serif' ;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 46px;
    letter-spacing: 0.18em;
}

.button{
    position: absolute;
    top: 735px;
    left: 115px;

    width: 205px;
    height: 57px;
    background-color: white;
    opacity: 70%;
    border-radius: 9px;
    z-index: 100;

    transition: all .3s linear;
}

.button:hover{
    background-color: #ffffff;
    opacity: 100%;
}

.enter{
    margin: 0;
    position: absolute;
    top: 13px;
    left: 20px;
    width: 131px;
    font-family: 'sans-serif';
    font-style: normal;
    font-size: 24px;
    letter-spacing: 0.35em;
    
    color: #000000;    
}

.blackarrow{
    position: absolute;
    top: 20px;
    left: 156px;
}


/*關於我們*/
.aboutus{
    position: absolute;
    top: 1024px;
}

.aboutus-bg{
    background-color: rgb(255, 255, 255);
    width: 1439px;
    height: 1077px;
    margin: 0;

}

.about{
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    top: 39px;
    
    font-family: 'sans-serif';
    font-weight: 700;
    font-size: 64px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
    
}

h4{
    font-family: 'sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    display: flex;
    align-items: center;
    text-align: center;
}

.t{
    letter-spacing: 0.18em;
    position: relative;
    margin: 0;
    top: 19.46px;
    display: flex;
    justify-content: center;
    
    color: #000000;
    
}

.about-img{
    display: flex;
    justify-content: flex-start;
}

.about-img01{
    position: absolute;
    top: 205px;
    left: 174px;
}

.about-img02{
    position: absolute;
    top: 205px;
    left: 810px;
}

.about-img03{
    position: absolute;
    top: 639.81px;
    left: 174px;
}

.about-img04{
    position: absolute;
    top: 639.81px;
    left: 810px;
}


/*活動資訊*/
.inf{
    position: absolute;
    top: 2101px;
    margin: 0;
}

.inf-bg{
    background-color: rgb(0, 0, 0);
    width: 1439px;
    height: 971px;
    margin: 0;

}

.event{
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    top: 51px;
    
    font-family: 'sans-serif';
    font-weight: 700;
    font-size: 64px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: white;
}

.inf-img{
    display: flex;
    justify-content:flex-start;
    position: absolute;
    top: 261px;
    left: 107px;
}

.inf-img01{
    margin-right: 50.35px;
}

.inf-img02{
    margin-right: 50.35px;
}


/*幹部介紹*/
.student{
    position: absolute;
    top: 3072px;
}

.student-bg{
    background-color: rgb(255, 255, 255);
    width: 1439px;
    height: 1103px;
    margin: 0;

}

.introduce{
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    top: 64px;
    
    font-family: 'sans-serif';
    font-weight: 700;
    font-size: 64px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
    
}

.t1{
    letter-spacing: 0.18em;
    position: relative;
    margin: 0;
    top: 8px;
    display: flex;
    justify-content: center;
    
    color: #000000;
}

.student-img-up{
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: 252px;
}

.stu-imgup01{
    position: absolute;
    left: 349px;
}

.stu-imgup02{
    position: absolute;
    left: 783px;
}

.student-img-down{
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: 666px;
}

.stu-imgdown03{
    position: absolute;
    left: 121px;
}

.stu-imgdown04{
    position: absolute;
    left: 436px;
}

.stu-imgdown05{
    position: absolute;
    left: 749px;
}

.stu-imgdown06{
    position: absolute;
    left: 1063px;
}


/*聯絡我們*/
.contactus{
    position: absolute;
    top: 4175px;
}

.contsctus-bg{
    background-color: rgb(0, 0, 0);
    width: 1439px;
    height: 971px;
    margin: 0;

}

.contact{
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    top: 64px;
    
    font-family: 'sans-serif';
    font-weight: 700;
    font-size: 64px;
    align-items: center;
    text-align: center;
    
    color: #ffffff;
    
}

.contact-block{
    display: flex;
    justify-content: center;
}

.block-name{
    box-sizing: border-box;

    position: absolute;
    width: 472px;
    height: 85px;
    top: 229px;
    
    background: #000000;
    border: 4px solid #FFFFFF;
    border-radius: 85px;
}

.name{
    position: relative;
    top: 17px;
    left: 36px;
    margin: 0;
    display: flex;
    justify-content: flex-start;

    color: #ffffff;
}

.block-email{
    box-sizing: border-box;

    position: absolute;
    width: 472px;
    height: 85px;
    top: 364px;
    
    background: #000000;
    border: 4px solid #FFFFFF;
    border-radius: 85px;
}

.email{
    position: relative;
    top: 17px;
    left: 36px;
    margin: 0;
    display: flex;
    justify-content: flex-start;

    color: #ffffff;
}

.block-content{
    box-sizing: border-box;

    position: absolute;
    width: 552px;
    height: 320px;
    top: 489px;
    
    background: #000000;
    border: 4px solid #FFFFFF;
    border-radius: 44px;
}

.context{
    position: relative;
    top: 17px;
    left: 36px;
    margin: 0;
    display: flex;
    justify-content: flex-start;

    color: #ffffff;
}

.block-submit{
    position: absolute;
    width: 226px;
    height: 61px;
    top: 843px;
    
    background: #FFFFFF;
    border-radius: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'sans-serif';
    font-weight: 700;
    font-size: 30px;

    color: #000000;

}

.block-submit:hover{
    transform: scale(1.05);
}


/*footer*/
.end-bg{
    background-color: rgb(255, 255, 255);
    width: 1439px;
    height: 161px;

    position: absolute;
    top: 5146px;
}

.link{
    display: flex;
    justify-content: center;
}

.ig{
    position: absolute;
    top: 55px;
    left: 647px;
}

.fb{
    position: absolute;
    top: 55px;
    left: 743px;
}